body {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6ef8f8, #8c3de7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #92fffa, #ab18d8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}